@import "theme";

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navbar-height;
  background: $navbar-background;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  $side-padding: 10px;

  #nav-items-logged-in {
    padding-right: $side-padding;

    a {
      padding: 1px;
    }
  }

  a {
    padding-left: $side-padding;
    padding-right: $side-padding;
  }

  #nav-items-always {
    justify-self: flex-start;
    padding-left: $side-padding;
  }

  #nav-title{
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
  }
}

#content {
  padding-top: $navbar-height;
}