$metro-blue: #1ba1e2;

$nav-link-color: $metro-blue;
$page-background: #f5f5f5;
$navbar-background: white;
$btn-background: #60a917;
$btn-text: white;
$btn-hover: #008a00;
$table-header: $metro-blue;
$error-msg: red;
$box-popup-link: $metro-blue;
$table-separator: #ddd;
$table-row-hover: #f5f5f5;
$table-hover-background: lightblue;
$plant-hover: greenyellow;
$overlay-background: black;
$popup-background: white;
$zoom-control-background: #f5f5f5;
$map-background: white;
$map-border: none;
$note-border: none; //solid 1px black;
$note-background: #f5f5f5;
$footer-background: #566D4F;

$navbar-height: 80px;
$footer-height: 40px;